[user]
	name = Jose Carlos Duran
	email = josecarlosduran@gmail.com
	signingkey = 36D84CF355BB1BC3C56EDA3A61AE6D5FC3F5525E

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	editor = nano
	autocrlf = input
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
